.tableHistory {
  margin-top: 70px;
  width: 100%;
  background-color: rgb(115, 105, 105);
  border-collapse: collapse;
}
.tableHeader {
  text-transform: uppercase;
  background-color: black;
}

.tableRow:nth-child(even) {
  background-color: rgb(19, 150, 150);
}

.tableHistory,
.tableHeader {
  border: 1px solid grey;
}
